body, html {
	padding: 0;
	margin: 0;
	font: 300 18px/1.5 Roboto, "Helvetica Neue", Arial, sans-serif;
	background: #eee;
	color: #333;
}

body {
	max-width: 740px;
	margin: auto;
	padding: 0 20px;
}

header {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

nav {
	display: flex;
	justify-content: space-around;
}

a {
	color: #436772;
}

a:visited { color: #436772; }

h1 { font-size: 2rem; }
h2 { font-size: 1.2rem; }

.thumbnail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 0 2rem 2rem;
}

.thumbnail > small { text-align: center; }

.thumbnail > a { margin: auto; }

@media screen and (min-width: 800px) {
	.float-left {
		float: left;
		margin-right: 2rem;
		margin-bottom: 1rem;
	}

	.float-right {
		float: right;
		margin-left: 2rem;
		margin-bottom: 1rem;
	}
}

img { max-width: 100%; }
